.footer{
    min-height: 300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer div{
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #021d02;
}
.footer .logo{
    background: radial-gradient(#ffffff, transparent  65%);
    justify-content: center;
    height: 300px;
    filter: contrast(110%);
}
.footer .contact{
    flex-direction: column;
    justify-content: space-evenly;
}
.footer h4{
    font-size: 25px;
}
.footer .contact span{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.footer .contact div{
    height: initial;
    min-height: 100px;
    position: relative;
    padding-left: 20%;
}
.footer .contact div i{
    position: absolute;
    left: 20%;
}
.footer .contact i{
    transition: all 150ms ease-out;
}
.footer .contact i:hover{
    color: #ff871c;
    cursor: pointer;
}
.footer .contact div i:hover{
    color: black;
    cursor: auto;
}
.footer .post div{
    height: initial;
    flex-direction: row;
    gap: 5px;
}
.footer .post{
    gap: 70px;
}
.footer .post p{
    position: relative;
    text-align: center;
    font-size: 18px;
}
.footer .post p i{
    position: absolute;
    top: -40px;
    right: 35%;
}

/* responsive footer */

@media (width <= 1300px) {
    .footer{
        flex-wrap: wrap;
    }
}
@media (width <= 900px) {
    .footer div{
        width: 270px;
    }
    .footer .contact div i{
        left: 10%;
    }
    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer .post p i{
        right: 25%;
    }
}
@media (width <= 850px) {
    .footer{
        margin-bottom: 70px;
    }
}