.productMain {
  padding-top: 170px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: auto;
}
.productMain div {
  flex-basis: 30%;
  padding: 20px;
  direction: rtl;
}
#expDiv {
  flex-basis: 22%;
}
#imgDiv img {
  margin-top: -20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.334));
  margin-right: -0%;
}
#imgDiv{
  margin-right: -3%;
}
#buyDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
}

#buyDiv span {
  display: flex;
  flex-wrap: wrap;
}
.sspan {
  flex-basis: 25%;
}
#buyDiv span p {
  margin-bottom: 15px;
  font-size: 20px;
  flex-basis: 100%;
}
#buyDiv .sspan img {
  margin-right: 10px;
}
#buyDiv .sspan pre {
  margin-right: 25%;
  font-size: 14px;
  margin-top: 7px;
}
#buyDiv span i {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  aspect-ratio: 1/1;
  margin-right: 7px;
}
#buyDiv form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20%;
  flex-basis: 40%;
  padding-bottom: 20px;
}
#sBtn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: linear-gradient(to top, #12446d, #408ac2);
  border-radius: 10px;
  border: none;
  transition: transorm 50ms ease-in-out;
}
#sBtn:hover{
  filter: brightness(90%);
  cursor: pointer;
}
#sBtn:focus{
  transform: scale(0.95);
}
#buyDiv form pre {
  font-size: 17px;
  margin-bottom: 15px;
  color: #7e7e7e;
}
.fspan {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  position: relative;
}
.fspan .beforePre{
  position: absolute;
  top: -30px;
  right: 5px;
  font-size: 28px;
  text-decoration: line-through;
  text-decoration-color: #5a160b;
  text-decoration-thickness: 2px;
}
.fspan img {
  margin-right: -10px;
}
.fspan pre {
  font-size: 35px;
}
#expDiv {
  display: flex;
  flex-direction: column;
}
#expDiv h1 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 20px;
}
#expDiv h3 {
  font-size: 22px;
  color: #424242;
}
#expDiv h2 {
  margin-bottom: 20px;
}
#expDiv button {
  text-align: right;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 20px;
  color: #7e7e7e;
  transition: all linear 100ms;
}
#expDiv button:hover {
  color: #424242;
  cursor: pointer;
}
#buyDiv .fContain {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#buyDiv select {
  border: 2px solid #571209c4;
  background-color: white;
  width: 90px;
  font-weight: 600;
  padding-right: 5px;
  aspect-ratio: 9/3;
  border-radius: 5px;
  font-size: 14px;
  transition: all 100ms linear;
}
#buyDiv select:hover {
  cursor: pointer;
  background-color: #5712091e;
}
.productMain #numPicker {
  border: 2px solid #013601af;
  border-radius: 10px;
  color: #000000e0;
  width: 70px;
  height: 40px;
  padding: 0px;
  flex-basis: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#numPicker button {
  height: 100%;
  background-color: transparent;
  color: #013601af;
  border: none;
  width: 20px;
  font-size: 15px;
  transform: scale(0.8,0.8);
  font-weight: 600;
  transition: all linear 120ms;
}
#numPicker button:hover {
    transform: scale(1,1);
    cursor: pointer;
    color: #011b01ce;
}
#numPicker p{
    font-size: 16px;
    margin-bottom: -2px;
    font-weight: 600;
}
.discountPic{
  position: absolute;
  top: 0%;
  left: 15%;
  width: 150px;
  height: 100px;
}
.discountPic img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.discountPic p{
  position: absolute;
  direction: rtl;
  left: 33%;
  top: -5%;
  font-size: 40px;
  color: #fff;
}
@media (width < 1000px) {
  .productMain{
    flex-wrap: wrap;
  }
  #expDiv{
    flex-basis: 40%;
  }
  #imgDiv {
    flex-basis: 40%;
    margin-top: -50px;
  }
  #buyDiv form {
    padding: 0%;
  }
  #sBtn{
    width: 85%;
    margin-bottom: 20px;
  } 
}
@media (width < 800px) {
  #imgDiv {
    margin-right: -7%;
  }
  #imgDiv img {
    width: 350px;
    height: 350px;
  }
  #expDiv h1{
    font-size: 30px;
  }
  #expDiv h2{
    font-size: 21px;
  }
  #expDiv h3 {
    font-size: 19px;
  }
  #expDiv {
    margin-top: -20px;
  }
}
@media (width < 700px) {
  .productMain{
    flex-direction: column;
    padding-top: 100px;
  }
  .productMain div{
    width: 350px;
    margin-inline: auto;
  }
  .discountPic{
  }
  .discountPic img {
    width: 110px;
    height: 95px;
  }
  .discountPic p{
    left: 35px;
    top: 14px;
    font-size: 24px;
  }
  #imgDiv {
    margin: auto;
    padding-right: 0;
  }
  #imgDiv img {
    margin-right: 0px;
  }
  #expDiv {
    margin-bottom: 40px;
  }

}
@media (width < 450px) {
  #expDiv {
    padding-right: 30px;
  }
  #imgDiv img{
    margin-right: -3%;
  }
}